@import '../core/reset.scss';
@import '../core/variables.scss';
@import '../core/mixins.scss';
.contactIcons {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  color: $medium-light-color;
  position: fixed;
  left: 0;
  bottom: 0;
  margin: 0 0 15px 15px;
  border-left: $main-color-low solid 0.5px;
  &__li {
    @include link;
    padding-left: 8px;
    &:nth-child(2) {
      margin: 10px 0;
    }
    &__a {
      font-size: 15px;
      padding: 3px;
    }
  }
}
