@import '../core/reset.scss';
@import '../core/variables.scss';
@import '../core/mixins.scss';
.header {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 25px;
  color: $light-color;
  h1 {
    font-size: 25px;
    font-weight: 200;
    @include link;
  }
  &__nav {
    &__ul {
      &__li {
        color: $medium-light-color;
        display: inline;
        &:not(:last-child):after {
          padding: 10px;
          content: '|';
          color: $main-color-low;
        }
        &__active {
          color: $light-color;
        }
        @include link;
      }
    }
  }
}
