@import '../core/reset.scss';
@import '../core/variables.scss';
@import '../core/mixins.scss';
.header {
  z-index: 1;
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 25px;
  color: $light-color;
  h1 {
    font-size: 25px;
    font-weight: 200;
    @include link;
  }
  &__nav {
    display: flex;
    &__menu {
      &__li {
        color: $medium-light-color;
        display: inline;
        font-size: 13px;
        &:not(:last-child):after {
          padding: 10px;
          content: '|';
          color: $main-color-low;
        }
        a {
          @include link;
        }
        &__active {
          color: $light-color;
        }
      }
    }

    &__lang {
      padding-left: 30px;
      @include checkboxStyle(13px, 8px, 4px);
    }
  }
}
