@import '../core/reset.scss';
@import '../core/variables.scss';
@import '../core/mixins.scss';

.projects__container {
  min-height: 80vh;
}
.projects {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}
