@import './core/reset.scss';
@import './core/variables.scss';
@import './core/mixins.scss';
body {
  height: 100vh;
  font-family: $main-font;
  background: radial-gradient(circle at 35% 20vh, rgb(78, 78, 78) 0%, rgb(48, 48, 48) 35%, rgba(30, 30, 30, 1) 55%, rgba(0, 0, 0, 1) 100%);
  .main {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $light-color;
    font-size: 40px;
    &__section {
      text-align: justify;
      font-size: 20px;
      font-weight: lighter;
      line-height: 30px;
      display: flex;
      flex-direction: column;
      margin: 0 40vh;
      &__p {
        padding-bottom: 20px;
      }
      &_a {
        margin-top: 10px;
        color: $main-color-low;
        align-self: flex-end;
        @include link;
        i {
          font-size: 20px;
          margin-left: 10px;
        }
      }
    }
  }
}
