// MEDIA QUERIES

@mixin tablet {
  @media all and (min-width: $tablet) {
    @content;
  }
}

// HOVER AND ACTIVE LINKS

@mixin link {
  &:active,
  &:hover {
    transform: scale(1.15);
    color: $main-color;
    transition: color 1s, transform 1s;
  }
}
