//FONTS
$main-font: 'Rubik', sans-serif;

//COLOR
$main-color: #ffc400;
$main-color-low: rgba(255, 196, 0, 0.7);
$main-color-opacity: rgba(255, 196, 0, 0.9);
$light-color: rgb(211, 211, 211);
$medium-light-color: rgb(153, 153, 153);
$medium-dark-color: #4e4e4e;
$medium-dark-color-low: #4e4e4e50;
$dark-color: rgb(30, 30, 30);

//BREAKPOINTS
$tablet: 768px;

// MEDIA QUERIES

@mixin tablet {
  @media all and (min-width: $tablet) {
    @content;
  }
}
